@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Rocky</h1>
    <p>Using MVC design pattern, this simple application  performs CRUD Operations.</p>
</div>
